.row
  .container
    = link_to 'Create article', new_article_path, class: 'btn btn-primary'
.row
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Paragraph
      %th Author
      %th Created
  %tbody
    = render @articles
  = paginate @articles
