%table.table.table-striped.table-hover
  %thead
    %tr
      %th Title
      %th Paragraph
      %th Views
      %th Author
      %th Created
  %tbody
    = render @articles
    = paginate @articles
%br/
%h2 Most popular categories
= render Category.most_popular_categories
